<p style="color: green"><%= notice %></p>

<%= render @image_form %>

<div>
  <%= link_to "Edit this image form", edit_image_form_path(@image_form) %> |
  <%= link_to "Back to image forms", image_forms_path %>

  <%= button_to "Destroy this image form", @image_form, method: :delete %>
</div>
